/* app css stylesheet */
/* COLORS */
/*Pale beige: #edd2c7
 *Yellow: #f1bd4d
 *Pale gray: #f1f1f1
 *Light gray: #d7cac9
 *Dark gray: #b9a7a5 
 *Orange: #ed783b
 *Brown red: #793d3d
 *Dark brown red: #351414
 */

html { 
  background-color:#f1f1f1;
  overflow:hidden;
}

a {
  color:#ed783b;
  text-decoration:none;
}

a:hover{
  color:#f1bd4d;
}

h1, h2, h2 {
  color:#351414;
}

h1 {
  font-size:1.5em;
}

h2, h3 {
  font-size:1.2em;
}

header { 
  height:70px;
}


footer {
    bottom: 0;
    height: 60px;
    left: 0;
    position: absolute;
    width: 100%;
    background-color:#351414;
    color:#fff;
    font-size:.8em;
    padding-left:20px;
}
/*padding / margin fix for lists */
ul, ol {
  padding:0;
  margin:0;
}

/*********************
/* Site Layout and Navigation
/*********************/

.wrapper {
  display: flex; 
  justify-content: space-around; 
}

.scrollListLabels {
  display: flex; 
  justify-content: space-around;
  font-size:.8em;
  display:block;
  font-style:italic;
}

.sortBy {
  float:left;
  margin:0 auto;
  padding-left:10px;
}

.userSortSettings {
  padding-left:3.5em;
}


.navMenu {
  list-style: none;
  font-size:1.1em;
  text-transform:uppercase;
  padding-left:0px;
  height:70px;
  display:table;
}

.navMenu li a { 
  padding:4px;
  border-radius:4px;
}

.navMenu > li {
  display: table-cell; 
  vertical-align:middle;
  padding-right:.8em;
  padding-top:10px;
}

.navMenu > li:before {
  padding-right: 0.1em;
}

.navMenu > li:nth-child(1) {
  padding-left:80px;
}

.navMenu > li:after {
  content: " »";
}

.navMenu li a:hover {
  background-color:white;
}

/*********************
/* Meal List (left side)
/*********************/

.mealsSnippetContainer {
  height:500px;
  width:41%;
  max-width:41%;
  overflow-y:auto;
  overflow-x:hidden;
  border-radius:6px;
  background-color:white;
    webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    box-shadow: 0 2px 6px rgba(50,50,50,0.50);
}

.mealsSnippetContainer:hover{
  overflow-y:scroll;
}

.mealsSnippetContainer h1 {
  margin:0 auto;
  font-style:italic;
}

.mealsTitle {
  padding-left:10px;
  float:left;
}

.prepTimeTitle {
  padding-right:10px;
  float:right;
}

.meals {
  list-style: none;
}

.mealsScrollListGradient {
  position:absolute;
  background-color:red;
  height:10px;
  width:100%;
 /* -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
}

.mealsScrollList {
  width:100%;
  height:100%;
  padding-left:10px;
}

.mealsScrollList li {
    list-style: none;
}

.mealsScrollList li:last-child {
  margin-bottom:50px;
}

.mealPreviewButton {
  width:94%;
  height:90px;
  padding:3px;
  margin:3px 0;
  font-size:.8em;
  overflow-y:hidden;
  border-bottom:3px dotted #f1f1f1;
  border-radius:4px;
  background-color:white;
    transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;  
    -webkit-transition: background-color .5s linear; 
    -ms-transition: background-color .5s linear; 
}

.mealPreviewButton:hover {
  background-color:#f1f1f1;
  transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;  
  -webkit-transition: background-color .2s linear; 
  -ms-transition: background-color .2s linear;
}

.snippet { 
  width:91%;
  max-width:91%;
}
.selectedMeal {
  background-color:#f1f1f1;
}

.selectedMeal .mealTitle {
  font-style:italic;
  color:#351414;
   transition: color .5s linear;
  -moz-transition: color .5s linear;  
  -webkit-transition: color .5s linear; 
  -ms-transition: color .5s linear; 
}
.selectedMeal .mealTitle:after {
    content: " »";
}

.mealTitle {
  font-size:1.2em;
  text-decoration:none;
}

.thumb {
  float: left;
  height: 80px;
  width: 80px;
  margin:5px;
}

.siteTitle { 
  text-decoration:none;
  font-size:1.5em;
}

.siteTitle img {
  float:left;
  display:block;
}

.cooktime {
  font-size:2em;
  color:gray;
  float:right;
  padding-right:6px;
}

.mins {
  font-size:.6em;
  clear:both;
  display:block;
  color:#ccc;
}

.meals li {
  clear: both;
  height: 115px;
  padding-top: 15px;
}

/*********************
/* Meal Details pane (right side)
/*********************/

.mealDetailsContainer {
  float:right;
  display:block;
  width:50%;
  max-width:50%;
  background-color:white;
  height:500px;
  overflow-y:auto;
  overflow-x:hidden;
  padding:0 20px;
  font-size:.8em;
    webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  border-radius:6px;
}

.mealDetailsContainer ol, .mealDetailsContainer ul {
  margin-left:30px;
}

.mealDetailsEmpty { 
  font-size:1.2em;
  text-align:center;
  margin:0 auto;
  padding-top:30px;
}

.mealDetailsEmpty img {
  display:block;
  margin:10% auto;
}

.mealDescription{
  font-style:italic;
  padding:0 50px 0 0;
}

#mealAdditionalImg {
  width:200px;
  padding:5px;
    webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  margin-bottom:20px;
}

.meal-hero-img {
  float:right;
  display:block;
  width:300px;
  padding:10px;
  margin-left:20px;
  margin-bottom:10px;
  webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  box-shadow: 0 2px 6px rgba(50,50,50,0.50)
}

.prepTimeData {
  color:#ccc;
}

#minsData {
  color:gray;
}

#prepDataHighlight {
  color:#ed783b;
}

.tagNames {
  list-style-type:none;
}

.tagNames li {
  display:inline;
  padding-right:8px;
  color:gray;
}

/***********
About
************/

.about { 
  width:70%;
  max-width:70%;
  margin:30px auto 0 auto;
  height:500px;
  background-color:white;
  overflow-y:auto;
  overflow-x:hidden;
  padding:20px 50px;
  font-size:.8em;
    webkit-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    -moz-box-shadow: 0 2px 6px rgba(50,50,50,0.50);
    box-shadow: 0 2px 6px rgba(50,50,50,0.50);
  border-radius:6px;
}

.about ul { 
  padding-left:50px;
}

.about img {
  float:right;
}

/***********
CMS
************/

.cms-wrapper {
  display: flex; 
  justify-content: space-around; 
}

.cms-recipeEdit input { 
  width: 600px; 
  margin:5px;
  padding:1px;
}

.cms-checkboxes input { 
  width:30px;

}
.cms-recipeInstructionSteps textarea {
  width:600px;
  height:100px;
  margin:5px;
  padding:1px;
}

.cms-heroImgPreview {
  width:100px;
}

.cms-recipeTitleList {
  height:500px;
  width:26%;
  overflow-y:scroll;
  margin-left:20px;
  background-color:white;
}

.cms-recipeEditContainer {
  height:500px;
  width:68%;
  overflow-y:scroll;
  display:block;
  float:right;
  background-color:white;
}