  <div ng-controller="AdminCtrl">
		<header>
			<h1>Edit Chicken Breast Meals Recipe Data</h1>
            <p>Total meals in data: {{meals.length}}</p>
	   </header>

     <div ng-controller="DetailsController" class="cms-wrapper">
  	   <div class="cms-recipeTitleList">
          <ul>
              <li
               ng-repeat="meal in meals | filter: query | orderBy: orderProp" 
               ng-class="{selectedMeal:meals[$index].selected}">
              <a href="" ng-click="viewMealDetail(meal.id); selectThisMeal($index)">{{meal.title}}</a><a href="" ng-click="deleteMeal(meal._id)">&nbsp&nbsp[Delete]</a>
              </li>
          </ul>
        </div><!-- closes mealsScrollList"-->


        <div class="cms-recipeEditContainer">

        <div class="cms-recipeEdit">
          <h2>EDIT MODE: {{mealDetail.title}}</h2><button ng-click="postMeal(mealDetail)">EXPORT DATA</button>
          </br>
          <b>Meal Name:</b><input ng-model="mealDetail.title"/>
          </br>
          <b>Meal ID: {{mealDetail.id}}</b>
          </br>
          <b>Snippet</b>
          <b>Description</b>

          <div class="cms-checkboxes">
          <input type="checkbox" name="dietary" value="noGluten">Gluten free<br>
          <input type="checkbox" name="dietary" value="noDairy">Dairy free<br>
          <input type="checkbox" name="dietary" value="lowCarb">Low carb<br>
          </div>

          <b>Prep time:</b><input ng-model="mealDetail.preptime">
          </br>

          <b>Cook time:</b><input ng-model="mealDetail.cooktime">
          </br>

          <b>Oven temp:</b><input ng-model="mealDetail.cooktemp">
          </br>
        </br>
          <b>Ingredients:</b>
          <ol>
            <li ng-repeat="ingredient in mealDetail.ingredients"><input ng-model="ingredient"></li>
            <li><input ng-model="newIngredient"><a href="" ng-click="mealDetail.ingredients.push(newIngredient)">ADD</a></li>
          </ol>

          <b>Recipe Steps:</b>
          <ol class="cms-recipeInstructionSteps">
            <li ng-repeat="instruction in mealDetail.instructions"><textarea ng-model="instruction"></textarea></li>
            <li><textarea ng-model="newInstruction"></textarea><a href="" ng-click="mealDetail.instructions.push(newInstruction)">ADD</a>
            </li>
          </ol>

          <h2>Photos</h2>
          <span ng-repeat="image in mealDetail.images">
            <p><b>Image {{$index + 1}}:</b></p>
            <input ng-model="mealDetail.images[$index]">
            <br>
            <img ng-src="{{image}}" id="mealAdditionalImg">
          </span>
          </br>
          <input ng-model="newImagePath"><a href="" ng-click="mealDetail.images.push(newImagePath)">ADD IMAGE</a>
          </br>

        </div>

        </div>
      </div><!--closes cms-wrapper-->

	 </div>
</html>