 <div class="userSortSettings">
    <p>Search: <input ng-model="query"> &nbsp&nbsp&nbsp Sort by: &nbsp
        <select ng-model="orderProp">
          <option value="title">Alphabetical by Name</option>
          <option value="cooktime">Shortest Prep Time</option>
        </select>
      </p>
  </div>

  <div ng-controller="DetailsController" class="wrapper">
    <aside class="mealsLeft">
      <div class="scrollListLabels">
        <p class="mealsTitle">MEALS</p>
        <p class="prepTimeTitle">PREP TIME</p>
      </div>

      <div class="mealsScrollList">
        <ul>
          <!--<li><a href="" ng-click="template=templates[1]">Test 1</a></li>-->

          <li ng-repeat="meal in meals | filter: query | orderBy: orderProp" class="mealPreviewButton">
            <a href=""><img ng-src="{{meal.imageUrl}}" class="thumb"></a>
            <p class="cooktime">{{meal.cooktime}}<span class="mins">mins</span></p>
            <b><a href="" ng-click="viewMealDetail(meal.id)" class="mealTitle">{{meal.title}}</a></b>
            <p>{{meal.snippet}}</p>
          </li>
        </ul>
      </div><!-- closes mealsScrollList"-->
    </aside><!--closes mealsList-->

    <!-- details pane on the right -->
    <div class="mealDetails">
        <h1>{{mealDetail.title}}</h1>
        <img ng-src="{{mealDetail.images[0]}}" class="meal-hero-img">
        <p class="prepTimeData">
            <span id="minsData"> READY IN: <span id="prepDataHighlight">{{mealDetail.preptime + mealDetail.cooktime}} mins</span>
            ( PREP: {{mealDetail.preptime}} mins
            | COOK: {{mealDetail.cooktime}} mins ) 
          </p>
        
        <p class="mealDescription">{{mealDetail.description}}</p>
        <h2>Ingredients</h2>
          <ul>
            <li ng-repeat="ingredient in mealDetail.ingredients">
              {{ingredient}}
            </li>
          </ul>
        <h2>Instructions</h2>
        <ol>
          <li ng-repeat="instruction in mealDetail.instructions">
            {{instruction}}
          </li>
        </ol>
        <h2>Tasty Pics</h2>
        <span ng-repeat="image in mealDetail.images">
          <img ng-src="{{image}}" id="mealAdditionalImg">
        </span>
      </div>
    </div><!-- closes mealDetails-->


  </div><!--closes wrapper-->
</div>
