<div ng-controller="MealListCtrl">
    <div class="userSortSettings">
        <input ng-model="query" class="searchInput" placeholder="Search by ingredient or recipe name"/>
        <div class="filters">
            <ul class="filterNav">
                Show only:
                <li ng-click="filterByOption.glutenfree = !filterByOption.glutenfree">Gluten Free</li>
                <!--toggle between true and null -->
                <li>Low Carb</li>
                <li>Low Fat</li>
                <li>Paleo</li>
                <li>Quick</li>
            </ul>
        </div>
    </div><!--closes userSortSettings-->

    <div class="wrapper">
        <aside class="mealsSnippetContainer">
            <!--
            <div class="scrollListLabels">
                <p class="mealsTitle">MEALS</p>
                <p class="prepTimeTitle">PREP TIME</p>
            </div><!-- closes scrollListLabels-->

            <div class="mealsScrollList">
                <ul class="mealGrid">
                    <li
                        ng-click="viewMealDetail(meal); selectThisMeal(meal)"
                        ng-repeat="meal in meals | filter: query"
                        ng-class="{selectedMeal:meal.selected}"
                        class="mealPreviewButton"
                        >
                            <img ng-src="{{meal.images[0]}}">

                            <div class="mealGridTextArea">
                                <h3><a href="">{{meal.title}}</a></h3>
                                <p class="snippet">{{meal.snippet}}</p>
                            </div>

                            <span class="prepData">
                                <span class="cookTime">{{meal.cooktime}}</span>
                                <span class="mins">mins</span>
                            </span>

                    </li>
            </div><!-- closes mealsScrollList"-->
        </aside><!--closes mealsSnippetContainer-->

        <!-- details pane on the right -->
        <div class="mealDetailsContainer">

            <div class="mealDetailsEmpty" ng-hide="mealDetail">
                « Select a recipe from the list at left.
                <img src="./images/site/cbm_logo_large.png">
            </div><!-- closes mealDetailsEmpty-->

            <div class="mealDetailsContents" ng-show="mealDetail">
                <img ng-src="{{mealDetail.images[0]}}" class="meal-hero-img">
                <h1>{{mealDetail.title}}</h1>

                <p class="prepTimeData">
                <span id="minsData"> READY IN: <span id="prepDataHighlight"><b>{{mealDetail.preptime + mealDetail.cooktime}} mins</b></span>
                    <br>
                    PREP: {{mealDetail.preptime}} mins<br>
                    COOK: {{mealDetail.cooktime}} mins
                </p>

                <p class="mealDescription">{{mealDetail.description}}</p>

            <span class="tagNames">
                <li ng-repeat="tag in mealDetail.tags">{{tag.name}}</li>
            </span>

            <h2>{{mealDetail.ingredients.length}} Ingredients</h2>
                <ul class="mealIngredientsList">
                    <li ng-repeat="ingredient in mealDetail.ingredients" class="mealIngredient">
                        <input type="checkbox"/> {{ingredient.name}}
                    </li>
                </ul>

            <h2>Step by Step Instructions</h2>
                <ol class="mealInstructionsList">
                    <li ng-repeat="instruction in mealDetail.instructions">
                        {{instruction.name}}
                    </li>
                </ol>
                <h2>Tasty Pics</h2>
              <span ng-repeat="image in mealDetail.images">
                <img ng-src="{{image}}" id="mealAdditionalImg">
              </span>
            </div><!--closes mealDetailsContents-->
        </div><!-- closes mealDetailsContainer-->
    </div><!--closes wrapper-->
</div>
</div>
